<?
	$list_container_id = $this->form_get_element_id('form_attachments_container_'.get_class($form_model).'_'.$db_name);
	
	$base_url = $form_field->file_download_base_url ? $form_field->file_download_base_url : 'admin/files/get/';
	
	if (isset($form_field->render_options['allow_delete']) && $form_field->render_options['allow_delete'] !== false)
		$allow_delete = true;
	else 
		$allow_delete = false;
?>

<? if ($form_file_list->count): 
	$file = $form_file_list[0];
?>
	<p>Uploaded file: <a href="<?=$base_url.$file->id.'/'.urlencode($file->name).'/' ?>" target="_blank"><?=h($file->name) ?></a> (<?=File::size_from_bytes($file->size) ?>)  <span id="file_custom_message_<?=get_class($form_model) ?>_<?=$db_name ?>"></span>
	<? if ($allow_delete): ?>
		| <a href="javascript:;" class="file-delete" onclick="return $(this).phpr().post('<?=$this->get_event_handler('on_delete_file') ?>', { 
			data: { db_name: '<?=$db_name ?>', file_id: '<?=$file->id ?>'}, 
			confirm: 'Do you really want to delete this file?', 
			update: '#<?=$list_container_id ?>', 
			loadIndicator: {show: false}
		}).send();">delete</a>
	<? endif ?>
	</p>
<? else: ?>
	<? if ($form_field->no_attachments_label): ?>
		<p><?=h($form_field->no_attachments_label) ?></p>
	<? endif ?>
<? endif ?>