<?
	$input_id = $this->form_get_element_id($form_model_class.'_'.$form_field->db_name);
	$field_name = $form_field->db_name;
	
	$date = h($form_model->display_field($form_field->db_name, 'date'));
	$time = h($form_model->display_field($form_field->db_name, 'time'));
	if (strlen($date) && strlen($time))
		$datetime = $date.' '.$time;
	else $datetime = '';

	$column_definition = $form_field->get_col_definition();
	$date_format = $column_definition->get_date_format();
	if ($date_format != '%x')
		$calendar_format = $date_format;
	else $calendar_format = '';

	if ($form_field->get_placeholder() !== null)
		$placeholder_date = $form_field->get_placeholder();
	else
	{
		$now = new Phpr_DateTime();
		$placeholder_date = Phpr_DateTime_Format::format_datetime($now, $date_format);
	}

	if ($form_field->get_placeholder('time') !== null)
		$placeholder_time = $form_field->get_placeholder('time');
	else
	{
		$now = new Phpr_DateTime();
		$placeholder_time = Phpr_DateTime_Format::format_datetime($now, $column_definition->get_time_format());
	}    
?>

<input type="hidden" id="<?=$input_id ?>" value="<?=$datetime ?>" name="<?=$form_model_class ?>[<?=$form_field->db_name ?>]">

<table>
<tr>
	<td>
		<div class="datePickerHolder">
			<input <? if ($form_field->disabled) echo 'disabled="disabled"' ?> type="text" 
				class="datetime datetime-date" 
				id="<?=$input_id ?>-date" 
				onkeyup="dateTimeUpdate('<?=$input_id ?>')" 
				onchange="dateTimeUpdate('<?=$input_id ?>')" 
				value="<?=$date ?>" 
				placeholder="<?= h($placeholder_date) ?>" />
		</div>
	</td>
	<td class="datetime-time">
		<input <? if ($form_field->disabled) echo 'disabled="disabled"' ?> type="text" 
			class="datetime datetime-time text" 
			id="<?=$input_id ?>-time" 
			onkeyup="dateTimeUpdate('<?=$input_id ?>')" 
			value="<?=$time ?>" 
			placeholder="<?=h($placeholder_time)?>" />
	</td>
</tr>
</table>

<script type='text/javascript'>
	jQuery(document).ready(function($) { 
		var init_datetime_calendar = function() {
			if (!Admin_Page.phprFieldInitialized['<?=$input_id ?>-date']) {
				<?=Phpr_Html::calendar($input_id.'-date', $calendar_format); ?>
				Admin_Page.phprFieldInitialized['<?=$input_id ?>-date'] = true;
			}
		}
		
		var thisTab = $('#<?=$input_id ?>-date').getTab();
		if (thisTab.length > 0) {
			thisTab.on('onTabClick', function() {
				init_datetime_calendar();
			});
		} else {
			init_datetime_calendar();
		}
	});
	
	function dateTimeUpdate(field_id) {
		var date_field = jQuery('#' + field_id+'-date'),
			time_field = jQuery('#' + field_id+'-time'),
			datetime_field = jQuery('#' + field_id);
		
		if (date_field.val() != '' && time_field.val() != '')
			datetime_field.val(date_field.val() +' '+ time_field.val());
		else if (date_field.val() != '')
			datetime_field.val(date_field.val());
		else if (time_field.val() != '')
			datetime_field.val(time_field.val());
		else
			datetime_field.val('');
	}
</script>