<?
	$list_container_id = $this->form_get_element_id('form_attachments_container_'.get_class($form_model).'_'.$db_name); 
	$base_url = $form_field->file_download_base_url ? $form_field->file_download_base_url : '/admin/files/get/';
?>

<? if ($form_file_list->count): ?>
	<div class="file-list">
		<ul>
			<? foreach ($form_file_list as $file): ?>
				<li>
					<a href="<?=$base_url.$file->id.'/'.urlencode($file->name) ?>" target="_blank" class="file-link">
						<i class="icon-save"></i> <?=h($file->name) ?>
					</a> 
					<span class="file-size">(<?=File::size_from_bytes($file->size) ?>)</span> | 
					<a href="#" class="file-delete hiddenLink" onclick="return $(this).getForm().sendPhpr('<?=$this->get_event_handler('on_delete_file') ?>', {extraFields: {db_name: '<?=$db_name ?>', fileId: '<?=$file->id ?>'}, confirm: 'Do you really want to delete this file?', update: '<?=$list_container_id ?>', loadIndicator: {show: false}});">
						Delete
					</a>
				</li>
			<? endforeach ?>
		</ul>
	</div>
<? else: ?>
	<p class="muted">There are no files uploaded</p>
<? endif ?>