<? 
	$options = $this->form_field_get_options($form_field->db_name, $this->view_data['form_model']); 
	$db_name = $this->form_get_field_db_name($form_field->db_name, $this->view_data['form_model']);
	$field_name = $form_field->db_name;
	$index = 0;
?>
<? foreach ($options as $value=>$name): ?>
	<?
		$index++;
		$description = null;
		if (is_array($name)) {
			$keys = array_keys($name);
			$key_num = count($keys);
			
			$original_name = $name;
			$name = !$key_num ? $value : $keys[0];
			$description = !$key_num ? null : $original_name[$keys[0]];
		}
		
		$field_id = $index > 1 ? $form_model_class.'_'.$db_name.'_'.$index : $form_model_class.'_'.$db_name;
		$field_id = $this->form_get_element_id($field_id);
	?>
	<div class="option">
		<input type="radio" id="<?=$field_id ?>" 
			name="<?=$form_model_class ?>[<?=$db_name ?>]" 
			value="<?=h($value) ?>" 
			class="radio" 
			<? if ($form_field->disabled) echo 'disabled="disabled"' ?> 
			<?= Phpr_Form::radio_state($value, $form_model->$db_name) ?> 
		/>
		<label class="choice" for="<?=$field_id ?>">
			<?= h($name) ?>
		</label>
		<? if (strlen($description)): ?>
			<span class="help-block"><?=h($description) ?></span>
		<? endif ?>
	</div>
<? endforeach ?>