<?
	$column_definition = $form_field->get_col_definition();
	$columnInfo = $column_definition->get_column_info();

	$max_length = $columnInfo->length !== null ? 'maxlength="'.$columnInfo->length.'"' : null;
?>

<input autocomplete="off" <? if ($form_field->disabled) echo 'disabled="disabled"' ?> <?=$max_length ?> value="<?=h($form_model->display_field($form_field->db_name)) ?>" class="<?=$column_definition->type ?>" type="text" id="<?=$this->form_get_element_id($form_model_class.'_'.$form_field->db_name) ?>" name="<?=$form_model_class ?>[<?=$form_field->db_name ?>]" placeholder="<?=h($form_field->get_placeholder())?>" />
