<?
$search_control_id = $this->list_get_element_id('search_control');
$search_field_id = $this->list_get_element_id('search_field');
$search_active = strlen($list_search_string);
?>

<!-- List search -->
<div class="navbar-form list-search <?= $search_active ? null : 'inactive' ?>" id="<?=h($search_control_id) ?>">
    <i class="icon-search"></i>
    <input type="text" name="search_field" class="search-field" value="<?= $search_active ? h($list_search_string) : h($this->list_search_prompt) ?>" id="<?=h($search_field_id) ?>" />
    <i class="icon-remove search-cancel"></i>
</div>

<?
    $form_id = $this->list_get_form_id();
    $list_form = $this->list_no_form ? "jQuery('#".$search_control_id."').closest('form')" : "jQuery('#".$form_id."')";
?>
<script type="text/javascript">
    var searchHandler = jQuery('#<?=h($search_control_id) ?>').searchControl({ defaultText: '<?= $this->list_search_prompt ?>' });

    searchHandler.on('send', function(){
        return <?= $list_form ?>.phpr().post('<?= $this->get_event_handler('on_list_search') ?>', {
            update: '#<?= $this->list_get_container_id() ?>',
            data: {
                search_string: jQuery('#<?= $search_field_id ?>').val()
            },
            success: function() {
                jQuery('#<?= $this->list_get_container_id() ?>').trigger('listUpdated');
            },
            loadIndicator: {
                injectInElement: true,
                element: '#<?= $this->list_get_container_id() ?>',
                src: '<?= $list_load_indicator ?>',
                hideOnSuccess: true
            }
        }).send();
    });

    searchHandler.on('cancel', function(){
        return <?= $list_form ?>.phpr().post('<?= $this->get_event_handler('on_list_search_cancel') ?>', {
            update: '#<?= $this->list_get_container_id() ?>',
            success: function() {
                jQuery('#<?= $this->list_get_container_id() ?>').trigger('listUpdated');
            },
            loadIndicator: {
                injectInElement: true,
                element: '#<?= $this->list_get_container_id() ?>',
                src: '<?= $list_load_indicator ?>',
                hideOnSuccess: true
            }
        }).send();
    });

</script>