<table class="table list-table">
	<thead class="sortable">
		<? $widget->display_partial('list_head_rows') ?>
	</thead>
	<tbody id="<?= $widget->get_element_id('body')?>">
		<? if ((is_object($data) && !$data->count) || (is_array($data) && !$data)): ?>
			<tr class="no-data">
				<td colspan="<?= $list_column_count+5 ?>"><?= h($widget->no_data_message) ?></td>
			</tr>
		<? else: ?>
			<? $widget->display_partial('list_body_rows') ?>
		<? endif ?>
	</tbody>
</table>

<? if (!$widget->no_interaction && $list_total_row_count > 0 && !$widget->no_pagination): ?>
	<div class="list-pagination">
		<?= Phpr_Html::ajax_pagination($list_pagination,
			"$(this).phpr().post('".$this->get_event_handler('on_form_widget_event')."', {
				data: { ".$widget->get_event_handler_data('on_list_prev_page')." }, 
				update: '#".$widget->get_id() ."', 
				customIndicator: LightLoadingIndicator, 
				success: function(){ \$('#".$widget->get_id()."').trigger('listUpdated'); }
			}).send();",
			"$(this).phpr().post('".$this->get_event_handler('on_form_widget_event')."', {
				data: { ".$widget->get_event_handler_data('on_list_next_page')." }, 
				update: '#".$widget->get_id() ."', 
				customIndicator: LightLoadingIndicator, 
				success: function(){ \$('#".$widget->get_id()."').trigger('listUpdated'); }
			}).send();",
			"$(this).phpr().post('".$this->get_event_handler('on_form_widget_event')."', {
				data: { ".$widget->get_event_handler_data('on_list_set_page').", pageIndex: %s }, 
				update: '#".$widget->get_id() ."', 
				customIndicator: LightLoadingIndicator, 
				success: function(){ \$('#".$widget->get_id()."').trigger('listUpdated'); }
			}).send();"
		) ?>
	</div>
<? endif ?>
<input type="hidden" class="load_indicator" value="<?= $widget->load_indicator ?>" />
<script type="text/javascript"> realignPopups(); </script>