<?
	$show_toolbar = $widget->control_panel || (!$widget->no_interaction && $widget->search_enabled);
?>
<div id="<?=$widget->get_element_id('container')?>">

<? if ($show_toolbar): ?>
	<div class="navbar list-toolbar">
		<div class="navbar-inner">
<? endif ?>

			<? if ($widget->control_panel): ?>
				<div class="container">

				<!-- Main toolbar -->
				<div class="nav-collapse">
					<? $widget->display_partial($widget->control_panel); ?>
				</div>
			<? endif ?>

			<? if (!$widget->no_interaction || $widget->search_enabled): ?>

				<? if ($widget->search_enabled): ?>
					<?
						$search_control_id = $widget->get_element_id('search_control');
						$search_field_id = $widget->get_element_id('search_field');
						
						$search_active = strlen($search_string);
					?>

					<!-- List search -->
					<div class="navbar-form list-search <?=$search_active ? null : 'inactive' ?>" id="<?=h($search_control_id) ?>">
						<i class="icon-search"></i>
						<input type="text" name="search_field" class="search-field" placeholder="<?= h($widget->search_prompt) ?>" value="<?= $search_active ? h($search_string) : null ?>" id="<?= h($search_field_id) ?>" />
						<i class="icon-remove search-cancel"></i>
					</div>
					
					<script type="text/javascript">
						<?
							$form_id = $widget->get_form_id();
							$list_form = $this->list_no_form ? "jQuery('#".$search_control_id."').closest('form')" : "jQuery('#".$form_id."')";							
						?>
						var searchHandler = jQuery('#<?=h($search_control_id) ?>').searchControl({ defaultText: '<?=$widget->search_prompt ?>' });

						searchHandler.on('send', function(){
							return <?= $list_form ?>.phpr().post('<?= $controller->get_event_handler('on_form_widget_event') ?>', {
								update: '#<?= $widget->get_id() ?>', 
								data: {
									<?=$widget->get_event_handler_data('on_list_search')?>, 
									search_string: $('<?= $search_field_id ?>').get('value')
								}, 
								error: popupAjaxError, 
								success: function() { 
									jQuery('#<?= $widget->get_id() ?>').trigger('listUpdated'); 
								}, 
								loadIndicator: {
									injectInElement: true, 
									element: '#<?= $widget->get_id() ?>', 
									src: '<?= $widget->load_indicator ?>', 
									hideOnSuccess: true
								}
							}).send();
						});

						searchHandler.on('cancel', function(){
							return <?=$list_form ?>.phpr().post('<?= $controller->get_event_handler('on_form_widget_event') ?>', {
								update: '#<?= $widget->get_id() ?>', 
								data: {
									<?=$widget->get_event_handler_data('on_list_search_cancel')?>
								},
								success: function() { 
									jQuery('#<?= $widget->get_id() ?>').trigger('listUpdated'); 
								}, 
								loadIndicator: {
									injectInElement: true, 
									element: '#<?= $widget->get_id() ?>', 
									src: '<?= $widget->load_indicator ?>', 
									hideOnSuccess: true
								}
							}).send();
						});
						
					</script>
				<? endif ?>

			<? endif ?>

		<? if ($widget->control_panel): ?>
			</div>
		<? endif ?>

<? if ($show_toolbar): ?>
		</div>
	</div>
<? endif ?>

	<? 
		if ($widget->top_partial)
			$widget->display_partial($widget->top_partial);
	?>

	<? if (!$widget->no_interaction && !$widget->no_form): ?>
		<?= Phpr_Form::open_tag(array('id'=>$widget->get_form_id())) ?>
	<? endif ?>

		<? if ($widget->finder_mode): ?>
			<input type="hidden" name="finder_mode_flag" value="1" />
		<? endif ?>	

		<div id="<?= $widget->get_id() ?>" class="list-container">
			<? 
				if (!$widget->custom_partial)
					$widget->display_partial('list'); 
				else
					$widget->display_partial($widget->custom_partial); 
			?>
		</div>
	<? if (!$widget->no_interaction && !$widget->no_form): ?>
		</form>
	<? endif ?>

	<? if (!$widget->no_js_declarations): ?>
		<script>
			function listWidgetReload(show_load_indicator) {
				return jQuery('#<?= $widget->get_form_id() ?>').phpr().post('<?= $controller->get_event_handler('on_form_widget_event') ?>', {
					data: { <?=$widget->get_event_handler_data('on_list_reload')?> },
					update: '#<?= $widget->get_id() ?>', 
					success: function(){ jQuery('#<?= $widget->get_id() ?>').trigger('listUpdated'); }, 
					customIndicator: LightLoadingIndicator
				});
			}

			<? if ($widget->control_panel): ?>
					jQuery(document).ready(function($) {
						var list_tab_container = $('#<?=$widget->get_element_id('container')?>');
						var list_tab = (list_tab_container.length > 0) ? list_tab_container.getTab() : false;
						if (list_tab.length > 0) {
							list_tab.on('onTabClick', function() {

								var toolbar = list_tab_container
									.find('.scrollable_control_panel:first')
									.not('.scrollable_cp_loaded')
									.addClass('scrollable_cp_loaded');

								//if (toolbar.length > 0)
								//	toolbar.scrollableToolbar();
							});
						}
					});

					// When the container gets updated, we need to refresh the logic above
					function <?=$widget->get_id()?>_init() {
						jQuery('#<?= $widget->get_id() ?>').trigger('listInitialized');
						var list_tab_container = jQuery('#<?= $widget->get_id() ?>');
						var list_tab = (list_tab_container.length > 0) ? list_tab_container.getTab() : false;
						if (list_tab)
							list_tab.trigger('onTabClick');
					}
			<? endif ?>	

			<? if ($widget->show_reorder): ?>
				jQuery(document).ready(function($) { 
					function makeListWidgetSortable() {
						var widgetList = jQuery('#<?= $widget->get_element_id('body')?>');
						if (widgetList.length > 0) {
							widgetList.sortableList({
								handler: '<?= $controller->get_event_handler('on_form_widget_event') ?>',
								extraData: { <?=$widget->get_event_handler_data('on_list_set_order')?> },
								inputOrders: '<?= $widget->get_element_id('sort_orders') ?>',
								inputIds: '<?= $widget->get_element_id('sort_ids') ?>',
								handleClass: '.sort-handle'
							})
						}
					}

					jQuery('#<?= $widget->get_id() ?>').on('listUpdated listInitialized', makeListWidgetSortable);

					makeListWidgetSortable();
				});

			<? endif ?>
		</script>
	<? endif ?>
</div>