<div id="formlist_form">
	<h2>Add <?=$form_title?></h2>
	<div class="form-700">
		<?= Phpr_Form::openTag(array('id'=>'formlist_manage_element')) ?>
			<? if (!isset($fatal_error)): ?>
				<input type="hidden" name="edit_session_key" value="<?=post('edit_session_key')?>" />
				<div class="content">
					<div class="form-flash"></div>

					<div class="embedded-list">
						<?= $widget->render_finder() ?>
					</div>
				</div>
				<div class="footer">
					<?= admin_ajax_button('Add selected', $this->getEventHandler('onFormWidgetEvent'), 
						array('class'=>'btn btn-success'), "
						data: { ".$widget->get_event_handler_data('on_form_add')." }, 
						update: '#".$widget->get_id($widget->column_name)."', 
						loadIndicator: { injectInElement: true }, 
						success: cancelPopup, 
						afterUpdate: ".$widget->get_id($widget->column_name)."_init
					") ?>

					<?= admin_button('Close', array('onclick'=>'return cancelPopup()')) ?>
				</div>
			<? else: ?>
				<div class="content">
					<?= flash() ?>
				</div>
				<div class="footer">
					<?= admin_button('Cancel', array('onclick'=>'return cancelPopup()')) ?>
				</div>
			<? endif ?>
		</form>
	</div>
</div>